*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:disabled {
  opacity: 50%;
  cursor: default;
}

body {
  background-color: black;
}

#main {
  width: fit-content;
  height: fit-content;
}

.test {
  height: 4rem;
  width: 4rem;

  border-radius: 1rem;
  background-color: black;
}